<header>
    <div>
        <h1>Your Ecommerce</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/cart">Cart</a></li>
          
        </ul>
    </nav>
    <div>
        <% if (user) { %>
            <p>Welcome, <%= user.firstName %> <%= user.lastName %>!</p>
            <form action="/logout" method="post">
                <button type="submit">Logout</button>
            </form>
        <% } else { %>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        <% } %>
    </div>
</header>
